services:
  api:
    build: ./server
    ports:
    - 3000:3000
    
  db:
    image: postgres:15
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: temp
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    
  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - 80:80
    depends_on:
      - api

volumes:
  pgdata:
